# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/raw-assets/
gulpfile.js
raw-assets/
src/app/config.ts
src/app/core/components/
src/app/core/service/reveal.service.ts
src/app/gacha/config/standard-supplement.ts
src/app/gacha/interface/possibility.ts
src/app/gacha/library/prev-processing.ts
src/app/gacha/library/prev-processor/africa-counter.ts
src/app/gacha/library/prev-processor/stigmata.ts
src/app/pages/
src/app/shared/components/
src/assets/images/
src/assets/style/
yarn-error.log
yarn.lock
