<div class="customize">
  <select [(ngModel)]="current" name="supplement-type" (change)="loadConfig(current)">
    <option  [attr.value]="'standard'">{{ strRes.supplementNames.standard }}</option>
    <option  [attr.value]="'equipment'">{{ strRes.supplementNames.equipment }}</option>
    <option  [attr.value]="'precision'">{{ strRes.supplementNames.precision }}</option>
    <option  [attr.value]="'extension'">{{ strRes.supplementNames.extension }}</option>
  </select>
  <textarea [(ngModel)]="text">
  </textarea>
  <button (click)="confirm()">{{ strRes.components.customizeConfigPage.save }}</button>
  <button (click)="showPossibility()">{{ strRes.components.customizeConfigPage.showStatistics }}</button>
</div>
