<div class="gacha-control-box">
  <div class="box icon-one-time">
    <div class="item-tip">
      <h1>补给获得物品的数量</h1>
    </div>
    <div class="item-amount">
      <span class="icon-unknow-mark">x 2</span>
    </div>
    <div class="item-detail">
      <span>{{ text }}</span>
    </div>
    <div class="item-control">
      <div class="button" (click)="trigger(1)">
        <span class="text" [ngStyle]="{'background-image': cardPath}">一回补给</span>
        <app-gacha-card-indicator
          class="amount"
          [card] = "card"
          [text] = "'x1'"
        ></app-gacha-card-indicator>
      </div>
    </div>
  </div>
  <div class="box icon-ten-times">
    <img class="right-tip" [src]="tip">
    <div class="item-tip">
      <h1>补给获得物品的数量</h1>
    </div>
    <div class="item-amount">
      <span class="icon-unknow-mark">x 20</span>
    </div>
    <div class="item-detail">
      <span>{{ text }}</span>
    </div>
    <div class="item-control">
      <div class="button" (click)="trigger(10)">
        <span class="text" [ngStyle]="{'background-image': cardPath}">十回补给</span>
        <app-gacha-card-indicator
          class="amount"
          [card] = "card"
          [text] = "'x10'"
        ></app-gacha-card-indicator>
      </div>
    </div>
  </div>
</div>
