<div class="reveal-item" [ngClass]  ="item.type">
  <div class="stage stage-1 "
       (click)="nextStage(0)"
       [ngClass]="{active: !isRevealed || isImageLoading, 'boundAnimate': !isRevealed}">
    <div class="content">
      <img [src]="weaveFrameEffectImagePath"/>
    </div>
    <div class="weave-effect">
      <img [src]="weaveEffectImagePath"/>
    </div>
    <div class="weave-effect">
      <img [src]="weaveEffectImagePath"/>
    </div>
  </div>
  <div class="stage stage-2" (click)="nextStage(1)" [ngClass]="{active: isRevealed && !isImageLoading, 'boundAnimate': isRevealed && !isImageLoading}">
    <div class="content" [ngClass]  ="item.type">
      <img [src]="item.image" (load)="imageLoadComplete()"/>
    </div>
    <div class="weave-effect">
      <img [src]="weaveEffectImagePath"/>
    </div>
    <div class="detail">
      <span class="title">
        {{ item.name }} {{ item.extra.suffix }}
      </span>
      <span class="comment">
        {{ typeText[item.type] }}
      </span>
      <span class="rank">
        <app-star-exhibition *ngIf="isRevealed && itemLevel <= 10"
                             [current]="itemLevel"
                             [max]="itemLevel">
        </app-star-exhibition>
        <app-character-rank-exhibition *ngIf="isRevealed && itemLevel > 10" [current]="itemLevel"></app-character-rank-exhibition>
      </span>
    </div>
  </div>
</div>

