<div class="kakin">
  <div class="kakin-content">
    <app-gacha-banner
      [banner]="state.UI['precision']['banner']"
      [title]="state.UI['precision']['banner-title-image']"
      [text]="state.UI['precision']['banner-text']"
      (click)="history.show('precision')"
    >
    </app-gacha-banner>
    <app-gacha-control-box
      [text]="state.UI['precision']['tip-text']"
      [card]="state.UI['precision']['card']"
      [tip]="state.UI['precision']['tip-image']"
      (update)="start($event)"
    ></app-gacha-control-box>
  </div>
</div>
