<div class="about">
  <div class="section">
    <span class="title">关于此应用</span>
    <span>
      Mock-Kakin 氪金模拟器由基于 Angular 5 开发而成，使用MIT开源协议。
      <br />
      <br />
      如果你喜欢这个应用，可以考虑的star支持一下这个项目！
      <br />
      <br />
      Gayhub<br />
      <a href="https://github.com/dyingsunlight/mock-kakin" target="_blank">https://github.com/dyingsunlight/mock-kakin</a>
    </span>
  </div>
  <div class="section">
    <span class="title">关于自定义蛋池的配置语法</span>
    <span>
      每个蛋池的配置都有这几项组成 (* 代表必选)：
    </span>
    <ul>
      <li>
        name: 名称。name字段参与任何操作，仅用来标识内容, 提高可读性。
      </li>
      <li>
        * factor: 抽取因子。抽取因子决定了它的内容被抽取的概率。概率 = (抽取因子 / 当前层级 因子总和)。
      </li>
      <li>
        possibility: 层级。每次抽取都是从当前层级内，根据每个子项定义的抽取因子的比例作为概率进行抽取。
        当 possibility 存在时，将会自动忽略 contents 字段。
      </li>
      <li>
        contents: 实际的物品内容。所有可用的物品名称可以在<a
        href="https://github.com/dyingsunlight/mock-kakin/tree/master/src/app/gacha/resources" target="_blank">这里找到</a>。
        包含了游戏内所有的圣痕、武器、角色卡和角色碎片。
      </li>
      <li>
        type : 仅在contents有效时使用。用于决定该查找抽取结果的资源文件，以及一系列的预处理器的使用等。
      </li>
    </ul>
    <span>
      具体的案例可以在这里<a href="https://github.com/dyingsunlight/mock-kakin/tree/master/src/app/gacha/config" target="_blank">
        进行查看
      </a>，内有更详细的注释。
    </span>
  </div>
  <div class="section">
    <span class="title">关于...</span>
    <span>
      Update on 2018.3.16:
      <br><br>
      论文初稿终于写完了。<br>
      TODO：<br>
      1. 修改补给配置为单独加载。不用每次更新补给内容都要重新编译，直接JSONP获取数据作为补给配置的来源。<br>
      2. 添加多语言支持，一开始仅仅想做中文的而已，后来看到人修改了个英文版的，但这样我每次更新一次就要重新翻译一次，辛苦了！<br>
      <br><br>
    </span>
    <span>
      Update on 2018.3.9:
      <br><br>
      近期没有更多的计划了，忙着写毕业论文先。。。但是精准还是会跟着更新下去的。
      <br>
      服务器有调整, 旧的cdn地址虽然也能继续用，但不推荐。
      <br>新的服务器地址
      <br><br>
      <a href="http://mockkakin.duapp.com">http://mockkakin.duapp.com</a>
      <br><br>
      PS: 一直不知道BAE原来这么便宜，这次换到上面去了，3块钱一个月还不限流量。
      <br><br>
    </span>
    <span>
      <br>
      <br>
      关于概率<br>
      Update on 2018.3.1:<br>
      游戏内部公布的是综合概率（即包括保底），即使算入保底带来的影响，也依然无法吻合和游戏内实际抽取的感受。。。
      现在已经暂时大幅度降低模拟器的单抽出货概率，大概个人感觉比较接近游戏内的体验。
      具体的概率依旧在探索中, 如果想要提高某些出货概率，请使用自定义配置功能来修改。
    </span>
  </div>
  <div class="section">
    <span class="title"></span>
    <span class="author">Dogfish</span>
  </div>
</div>
