<div class="about">
  <div class="section">
    <span class="title">关于此应用</span>
    <div [innerHTML]="aboutApplication"></div>
  </div>

  <div class="section">
    <span class="title">关于语法</span>
    <div [innerHTML]="aboutSyntax"></div>
  </div>
  <div *ngFor="let section of state.about" class="section">
    <span class="title">{{ section.title }}</span>
    <span *ngFor="let body of section.body">
      {{ body }}
    </span>
  </div>
  <div class="section">
    <span class="title"></span>
    <span class="author">Dogfish</span>
  </div>
</div>
