<div class="screen-rotation-tip">
  <p>
    {{ strRes.root.rotationTip }}
  </p>
</div>
<app-history></app-history>
<app-gacha-reveal [bg]="'GachaBG-1'"></app-gacha-reveal>
<div class="container">
  <!--div class="top-navigation"></div-->
  <div class="page-body">
    <div class="left-content">
      <router-outlet></router-outlet>
    </div>
    <div class="right-navigation">
      <app-image-in-button   [icon]="'HCoin'" link="./standard/" [width]="100">
        {{ strRes.root.navigation.standard }}
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="./precision/" [width]="100">
        {{ strRes.root.navigation.precision }}
      </app-image-in-button>
      <!-- 当配置文件未指定扩充界面配置时，隐藏此入口 -->
      <app-image-in-button [icon]="'HCoin'" link="./extension/" [width]="100" *ngIf="state.UI && state.UI['extension']">
        {{ strRes.root.navigation.extension }}
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="./customize/" [width]="100">
        {{ strRes.root.navigation.customize }}
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="./test/" [width]="100">
        {{ strRes.root.navigation.test }}
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="/about/" [width]="100">
        {{ strRes.root.navigation.about }}
      </app-image-in-button>
      <div class="options">
        <!-- 如这些选项不想对用户可见，下列界面设置入口可以直接删除, 默认值 可以在 StateService 配置 -->
        <!-- enableProtection 基础保底选项-->
       <div class="input-wrapper">
         <input type="checkbox" (change)="updateProtection($event.target.checked)" [checked]="state.enableProtection" id="enableProtection">
         <label for="enableProtection">{{ strRes.root.gachaProtection }}</label>
       </div>
        <!-- enableExtensionHundredProtection 扩充百连保底选项-->
       <div class="input-wrapper" *ngIf="state.UI && state.UI['extension']">
         <input type="checkbox" (change)="updateExtensionHundredProtection($event.target.checked)" [checked]="state.enableExtensionHundredProtection" id="enableExtensionHundredProtection">
         <label for="enableExtensionHundredProtection">{{ strRes.root.extensionHundredProtection }}</label>
       </div>
     </div>
   </div>
 </div>
 <div class="version">
   {{ state.version }}
 </div>

</div>
<img class= "background" [src]="url.backgrounds + '/GachaBG.png'">
<app-loading></app-loading>
