<div class="screen-rotation-tip">
  <p>
    请将手机横屏以获得最佳的显示效果！
  </p>
</div>
<app-history></app-history>
<app-gacha-reveal [bg]="'GachaBG-1'"></app-gacha-reveal>
<div class="container">
  <!--div class="top-navigation"></div-->
  <div class="page-body">
    <div class="left-content">
      <router-outlet></router-outlet>
    </div>
    <div class="right-navigation">
      <app-image-in-button   [icon]="'HCoin'" link="./standard/" [width]="100">
        标配
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="./precision/" [width]="100">
        精准
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="./customize/" [width]="100">
        配置
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="./test/" [width]="100">
        测试
      </app-image-in-button>
      <app-image-in-button [icon]="'HCoin'" link="/about/" [width]="100">
        关于
      </app-image-in-button>
      <div class="options">
        <div class="input-wrapper">
          <input type="checkbox" (change)="updateProtection($event.target.checked)" [checked]="state.enableProtection" id="enableProtection">
          <label for="enableProtection">开启保底</label>
        </div>
      </div>
    </div>
  </div>
  <div class="version">
    2018.3.12 version: 1005
  </div>

</div>
<img class= "background" [src]="url.backgrounds + '/GachaBG.png'">
<app-loading></app-loading>
