<div class="kakin">
  <div class="kakin-nav">
    <app-gacha-type-selection
      [textName]="'valkyrja'"
      [bgName]="'avatar-grey'"
      [active]="mode === 'standard'"
      (click)="switchMode('equipment')"
    ></app-gacha-type-selection>
    <app-gacha-type-selection
      [textName]="'weapon'"
      [bgName]="'weapon-grey'"
      [active]="mode === 'equipment'"
      (click)="switchMode('standard')"
    ></app-gacha-type-selection>
  </div>
  <div class="kakin-content">
    <app-gacha-banner
      [banner]="state.UI[mode]['banner']"
      [title]="state.UI[mode]['banner-title-image']"
      [text]="state.UI[mode]['banner-text']"
      (click)="history.show(mode)"
    >
    </app-gacha-banner>
    <app-gacha-control-box
      [text]="state.UI[mode]['tip-text']"
      [card]="state.UI[mode]['card']"
      [tip]="state.UI[mode]['tip-image']"
      (update)="start($event)"
    ></app-gacha-control-box>
  </div>
</div>

