<div class="gacha-test">
  <div class="control">
    <div class="input-wrapper">
      <label for="config-type">选择一个配置的类别进行测试</label>
      <select [(ngModel)]="current" id="config-type">
        <option  [attr.value]="'standard'">标配补给</option>
        <option  [attr.value]="'equipment'">装备补给</option>
        <option  [attr.value]="'precision'">精准补给</option>
      </select>
    </div>
    <div class="input-wrapper">
      <label for="gacha-amount">执行抽取的十连次数 (点击标题可进行排序)</label>
      <input id="gacha-amount" [(ngModel)]="times" />
    </div>
  </div>
  <div class="items">
    <table>
      <thead>
      <tr>
        <td (click)="sortBy('name')">名称</td>
        <td (click)="sortBy('type')">类型</td>
        <td (click)="sortBy('level')">等级</td>
        <td (click)="sortBy('amount')">次数</td>
        <td (click)="sortBy('possibility')">抽取概率</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemList">
        <td>{{ item.name }}</td>
        <td>{{ typeText[item.type] }}</td>
        <td>{{ typeText[item.level] }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.possibility }}%</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button (click)="start()">开始抽取</button>
</div>
