<div class="gacha-test">
  <div class="control">
    <div class="input-wrapper">
      <label for="config-type">{{ strRes.components.gachaTestPage.tipSelectAType }}</label>
      <select [(ngModel)]="current" id="config-type">
        <option  [attr.value]="'standard'">{{ strRes.supplementNames.standard }}</option>
        <option  [attr.value]="'equipment'">{{ strRes.supplementNames.equipment }}</option>
        <option  [attr.value]="'precision'">{{ strRes.supplementNames.precision }}</option>
        <option  [attr.value]="'extension'">{{ strRes.supplementNames.extension }}</option>
      </select>
    </div>
    <div class="input-wrapper">
      <label for="gacha-amount">{{ strRes.components.gachaTestPage.tipSortAndGachaAmount }}</label>
      <input id="gacha-amount" [(ngModel)]="times" />
    </div>
  </div>
  <div class="items">
    <table *ngIf="!categoryDisplayOn">
      <thead>
      <tr>
        <td (click)="sortBy('name')">{{ strRes.components.gachaTestPage.extra.name }}</td>
        <td (click)="sortBy('type')">{{ strRes.components.gachaTestPage.extra.category }}</td>
        <td (click)="sortBy('level')">{{ strRes.components.gachaTestPage.extra.level }}</td>
        <td (click)="sortBy('amount')">{{ strRes.components.gachaTestPage.extra.times }}</td>
        <td (click)="sortBy('possibility')">{{ strRes.components.gachaTestPage.extra.possibility }}</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemList">
        <td>{{ item.name }}</td>
        <td>{{ strRes.components.gachaTestPage.extra[item.type] }}</td>
        <td>{{ strRes.components.gachaTestPage.extra[item.level] }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.possibility }}%</td>
      </tr>
      </tbody>
    </table>
    <table *ngIf="categoryDisplayOn">
      <thead>
      <tr>
        <td>{{ strRes.components.gachaTestPage.extra.category }}</td>
        <td>{{ strRes.components.gachaTestPage.extra.level }}</td>
        <td>{{ strRes.components.gachaTestPage.extra.possibility }}</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of categoryPossibilityList">
        <td>{{ strRes.components.gachaTestPage.extra[item.type] }}</td>
        <td>{{ strRes.components.gachaTestPage.extra[item.level] }}</td>
        <td>{{ item.possibility }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button (click)="start()">{{ strRes.components.gachaTestPage.start }}</button>
  <button *ngIf="!categoryDisplayOn" (click)="categoryDisplay()">{{ strRes.components.gachaTestPage.categoryDisplay }}</button>
  <button *ngIf="categoryDisplayOn" (click)="closeCategoryDisplay()">{{ strRes.components.gachaTestPage.closeCategoryDisplay }}</button>
</div>
